version: "3.9"

services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/01-init.sql:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 3s
      timeout: 3s
      retries: 20
    command:
      - "-c"
      - "log_statement=all"         # логировать все запросы
      - "-c"
      - "logging_collector=on"      # собирать логи
      - "-c"
      - "log_destination=stderr"    # в stderr контейнера
      - "-c"
      - "log_line_prefix=%m [%p] "  # метки в начале строки

  app:
    build: .
    restart: unless-stopped
    environment:
      DATABASE_URL: postgres://appuser:apppass@db:5432/app?sslmode=disable
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy

  adminer:
    image: adminer:latest
    restart: unless-stopped
    environment:
      ADMINER_DEFAULT_SERVER: db   # чтобы "Server" был проставлен по умолчанию
    ports:
      - "8081:8080"                # Adminer доступен на http://localhost:8081
    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata:
